<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IVR Form</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div class="card-body">
        <h1 class="card-title text-center mb-4">Update IVR Record</h1>
        <form (ngSubmit)="saveTutorial()" #myForm="ngForm">
          <div class="form-group">
            <label for="name">IVR Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="tutorial.ivrAdi"
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="surname">IVR Code</label>
            <input
              class="form-control"
              id="surname"
              required
              [(ngModel)]="tutorial.ivrKodu"
              name="surname"
            />
          </div>
          <div class="form-group">
            <label for="duyuru">Announcement</label>
            <input
              type="text"
              class="form-control"
              id="duyuru"
              required
              [(ngModel)]="tutorial.duyuru"
              name="duyuru"
            />
          </div>
          <h1>Set Timeout</h1>
          <div class="form-group">
            <label for="zamanAsimiSuresi">Timeout</label>
            <input
              type="number"
              class="form-control"
              id="zamanAsimiSuresi"
              required
              [(ngModel)]="tutorial.zamanAsimiSuresi"
              name="zamanAsimiSuresi"
            />
          </div>
          <div class="form-group">
            <label for="zamanAsimiSesKaydi">Timeout Audio Recording</label>
            <input
              type="text"
              class="form-control"
              id="zamanAsimiSesKaydi"
              required
              [(ngModel)]="tutorial.zamanAsimiSesKaydi"
              name="zamanAsimiSesKaydi"
            />
          </div>
          <div class="form-group">
            <label for="zamanAsimiTekrarSayisi">Timeout Number of Repeats</label>
            <input
              type="number"
              class="form-control"
              id="zamanAsimiTekrarSayisi"
              required
              [(ngModel)]="tutorial.zamanAsimiTekrarSayisi"
              name="zamanAsimiTekrarSayisi"
            />
          </div>
          <h1>Incorrect Dial Settings</h1>
          <div class="form-group">
            <label for="hataliGirisSesKaydi">Faulty Input Audio Recording</label>
            <input
              type="text"
              class="form-control"
              id="hataliGirisSesKaydi"
              required
              [(ngModel)]="tutorial.hataliGirisSesKaydi"
              name="hataliGirisSesKaydi"
            />
          </div>
          <div class="form-group">
            <label for="hataliGirisTekrarSayisi">Number of Incorrect Entry Repeats</label>
            <input
              type="number"
              class="form-control"
              id="hataliGirisTekrarSayisi"
              required
              [(ngModel)]="tutorial.hataliGirisTekrarSayisi"
              name="hataliGirisTekrarSayisi"
            />
          </div>
        </form>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card-body">
        <h1 class="card-title text-center mb-4">IVR Tuşlamalar</h1>
        <form (ngSubmit)="saveTutorial()" #myForm="ngForm">

          <div *ngFor="let ivr of ivrList; let i = index" class="divider">
            <div class="form-group row">
              <label for="ivrTuslama{{ i }}" class="col-sm-3 col-form-label">Dialing</label>
              <div class="col-sm-9">
                <input
                  type="number"
                  class="form-control"
                  [id]="'ivrTuslama' + i"
                  required
                  [(ngModel)]="ivr.ivrTuslama"
                  [name]="'ivrTuslama' + i"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="ivrHedefTipi{{ i }}" class="col-sm-3 col-form-label">IVR Target Type</label>
              <div class="col-sm-9">
                <select class="form-control" [id]="'ivrHedefTipi' + i" required [(ngModel)]="ivr.ivrHedefTipi" [name]="'ivrHedefTipi' + i">
                  <option value="Dial">Dial</option>
                  <option value="Queue">Queue</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="hedef{{ i }}" class="col-sm-3 col-form-label">IVR Target</label>
              <div class="col-sm-9">
                <input
                  type="number"
                  class="form-control"
                  [id]="'hedef' + i"
                  required
                  [(ngModel)]="ivr.hedef"
                  [name]="'hedef' + i"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="form-group text-right">
          <button type="button" (click)="removeLastIVR()" class="btn btn-success">Delete Last IVR</button>
        </div>
        <div class="form-group text-right">
          <button type="button" (click)="addDynamicField()"  class="btn btn-success">Add IVR</button>
        </div>

        <div class="alert" [ngClass]="{'alert-success': submitted === true, 'alert-danger': submitted === false}">
          <ng-container *ngIf="submitted !== null">
            {{ submitted ? 'Data Sent Successfully!' : 'Data Not Sent.' }}
          </ng-container>
        </div>
        <div class="form-group text-left">

          <button  type="submit" (click)="saveTutorial()" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
